/* Light theme */
body {
  font-family: Arial, sans-serif;
  margin: 10px;
  background-color: #f2f2f2;
}

div {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1 {
  color: #0088cc;
  margin: 0;
  padding: 10px 0;
}

p {
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #0088cc;
  color: #fff;
  font-weight: normal;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.links-navigation {
  display: flex;
  gap: 20px;
}

.copy-button {
  background-color: #0088cc;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.copy-button:hover {
  background-color: #006699;
}

.copy-button:focus {
  outline: none;
}

a {
  color: #0088cc;
  text-decoration: none;
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
}

button {
  margin-right: 15px;
}

.navigation-collection {
  justify-content: right;
  display: flex;
  gap: 20px;
}

/* Dark Theme */
body.dark-theme table {
  background-color: #222;
  color: #fff;
}

body.dark-theme th,
body.dark-theme td {
  border: 1px solid #444;
  padding: 8px;
}

body.dark-theme th {
  background-color: #444;
}

body.dark-theme tr:nth-child(even) {
  background-color: #333;
}

body.dark-theme tr:nth-child(odd) {
  background-color: #2b2c30;
}

body.dark-theme {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark-theme div {
  background-color: #2b2c30;
}

h1.dark-theme {
  color: #0088cc;
}

h2.dark-theme {
  color: #fff;
}

ul.dark-theme {
  color: #fff;
}

h3.dark-theme.removed + ul {
  opacity: 0.7;
}

h3.dark-theme.removed + ul li {
  text-decoration: line-through;
}

a.dark-theme {
  color: #0088cc;
}

a.dark-theme:hover {
  text-decoration: underline;
}

li.dark-theme {
  color: #fff;
}

code.dark-theme {
  background-color: #444;
}

h2.dark-theme.removed {
  color: #c0392b;
}

h2.dark-theme.removed + ul {
  opacity: 0.7;
}

h2.dark-theme.removed + ul li {
  text-decoration: line-through;
}

h3.dark-theme.removed {
  color: #c0392b;
}

#themeToggle {
  padding: 10px 20px;
  background-color: #0088cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media optimization */
@media (max-width: 768px) {
  body {
    margin: 8px;
  }
  button {
    font-size: 14px;
  }
  .links-navigation {
    gap: 15px;
  }
  .navigation-collection {
    justify-content: space-between;
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 6px;
  }
  button {
    font-size: 12px;
  }
  .links-navigation {
    flex-wrap: wrap;
    gap: 10px;
  }
  .navigation-collection {
    justify-content: space-between;
    display: flex;
    gap: 20px;
  }
}

.telegram-warning {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  color: #d94c4c;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
